    :root{
        --black: #000000;
        --white: #ffffff;
        --purple: #3d0764;
        --off-white: #d3d3d3;

    }
    
    
    .num-users{
        display: inline-block;

    }
    .num-users-text{
        display: inline-block
    }
    #biz-price, #pro-price, #beginner-price{
        display: block;
    }
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: var(--off-white);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--purple);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--purple);
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4ddea;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: var(--purple);
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px var(--purple);
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

/*Display the text inline with the toggle*/

.price-toggle p{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 28px;
    color: var(--white);
}


/*Do not copy these styles*/
body{
    padding-left: 10%;
    padding-right: 10%;
}
span{
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 2em;
}

body .price-toggle p{
    color: var(--purple);
}
.monthly-price, .annual-price{
    color: var(--black);
}